
/* iPad Pro */

@media only  screen and (max-width: 1199px) {
   /* navbar */

.top-bar .nav {
    float: right;
    padding-right: 62px;
  }
  
  .top-navigation-bar ul li {
    a, span {
      font-size: 12px;
    }
  }
  
  .nav-item a img {
    width: 12px;
  }
  
  .navbar-area .main-nav .navbar .navbar-nav .nav-item .nav-link {
    font-size: 13px !important;
  }
  
  /* banner */
  
  /* about */
  
  .about-page .team-profile {
    margin-bottom: 25px;
  }

      /* contact */
  
      .contact-page .contact-card {
        h3, ul li {
          font-size: 14px;
        }
      
        min-height: 327px !important;
      }
  
  //acquisition
  
  .inner-page-content {
    .pillars .three-pillars {
      h6 {
        font-size: 14px !important;
      }
  
      min-height: 240px !important;
    }
  
    .ten-steps {
      h2 {
        font-size: 20px;
      }
  
      .ten-steps-heading {
        font-size: 16px !important;
      }
  
      .description-box {
        min-height: 760px !important;
      }
  
      .ten-steps-heading i.fas:before {
        font-size: 25px;
        width: 10px !important;
      }
  
      .description-box h6 {
        font-size: 15px !important;
      }
  
      .ten-steps-heading i.fas {
        height: 19px !important;
      }
    }
  }
  
  // assessment
  
  .assesment-page {
    .arrow-icon img {
      margin-top: 40px !important;
    }
  
    .measures img, .compares img, .predicts img {
      width: 100% !important;
    }
  }
  
  .saville-box {
    ul li {
      font-size: 14px;
    }
  
    .col-md-4 img {
      width: 60%;
      margin-top: 50px !important;
    }
  }
  
  .steps {
    min-height: 220px !important;
  }
  
  //Research
  
  .research-page .timeline {
    min-height: 700px !important;
  }
}


/* iPad */

@media only  screen and (max-width: 991px) {

    /* navbar */

.top-navigation-bar ul li {
    a, span {
      font-size: 10px;
    }
  }
  
  .nav-item a img {
    width: 15px;
  }

  // home
  .theme-btn {
    margin-bottom: 20px;
  }

  .testimonial4_slide img {
    width: 250px !important;
}
  
  /* about */
  
  .about-page .team-profile {
    margin-bottom: 25px;
  }

    /* contact */
  
    .contact-page .contact-card {
      h3, ul li {
        font-size: 14px;
      }
    
      min-height: 377px !important;
    }
  
  //acquisition
  
  .inner-page-content {
    .pillars .three-pillars {
      h6 {
        font-size: 10px !important;
      }
      p{
        font-size: 12px !important;
      }
  
      min-height: 210px !important;
    }
  
    .ten-steps {
      h2 {
        font-size: 20px;
      }
  
      .ten-steps-heading {
        font-size: 10px !important;
      }
  
      .description-box {
        h6 {
          font-size: 8px !important;
        }
  
        min-height: 0px !important;
        padding-bottom: 20px !important;
      }
  
      .ten-steps-heading i.fas:before {
        font-size: 25px;
        width: 10px !important;
      }
  
      .description-box h6 {
        font-size: 15px !important;
      }
  
      .ten-steps-heading i.fas {
        height: 15px !important;
      }
  
      .description-box {
        span {
          background-color: #65656575;
          color: #3c3c3c;
          padding: 2px !important;
          border-radius: 50%;
          width: 20px !important;
          height: 20px !important;
          display: inline-block;
          text-align: center;
          padding-top: 4px !important;
          margin-left: 7px !important;
          margin-right: 0px !important;
        }
  
        .description {
          font-size: 12px !important;
          padding-left: 30px  !important;
          padding-right: 10px  !important;
        }
      }
    }
  }
  
  .assesment-page {
    .prevue-hiring {
      min-height: 60px !important;
    }
  
    .arrow-icon img {
      width: 13% !important;
      margin-top: 0px;
      margin-bottom: 40px !important;
      transform: rotate(90deg);
    }
  
    .measures img, .compares img, .predicts img {
      width: 100% !important;
    }
  }
  
  .saville-box {
    ul li {
      font-size: 12px;
    }
  
    .col-md-4 img {
      width: 60%;
      margin-top: 100px !important;
    }
  }
  
  .steps {
    min-height: 250px !important;
  }
  
  //research
  
  .research-page {
    .three-pillars .research-banner img {
      width: 100%;
      height: 160px;
    }
  
    .timeline {
      h5 {
        font-size: 12px !important;
      }
  
      ul li .content {
        h3 {
          font-size: 12px !important;
        }
  
        p {
          font-size: 11px !important;
        }
      }
    }
  }
  
  //domain
  
  .domain-page .all-domain h5 {
    width: 52.2% !important;
    left: 151px;
  }
}

/* Mobile */

@media (max-width: 767px) {

 /* navbar */

.top-navigation-bar ul li {
    a, span {
      font-size: 10px;
    }
  }
  
  .nav-item a img {
    width: 15px;
  }
  
  /* about */
  
  .about-page .team-profile {
    margin-bottom: 25px;
  }
  
  /* contact */
  
  .contact-page .contact-card {
    h3, ul li {
      font-size: 14px;
    }
  
    min-height: 377px !important;
  }
  
  /* acquisition */
  
  .inner-page-content .pillars h2 {
    font-size: 20px;
  }
  
  .pillars .three-pillars h6 {
    font-size: 12px !important;
  }
  
  .inner-page-content .ten-steps {
    h2 {
      font-size: 20px;
    }
  
    .ten-steps-heading {
      font-size: 15px !important;
  
      i.fas:before {
        font-size: 25px;
        width: 10px !important;
      }
    }
  
    .description-box h6 {
      font-size: 15px !important;
    }
  
    .ten-steps-heading i.fas {
      height: 19px !important;
    }
  }
  
  //assessment
  
  .assesment-page {
    .job-fit-company-logo img {
      margin-bottom: 20px;
    }
  
    .prevue-hiring {
      margin-top: 40px;
    }
  
    .arrow-icon img {
      width: 33% !important;
      transform: rotate(90deg);
    }
  
    .measures img, .compares img, .predicts img {
      width: 100% !important;
    }
  }
  
  .saville-box .col-md-4 img {
    width: 60%;
    margin-top: 20px;
    padding-bottom: 20px;
  }
}

@media (max-width: 320px) {
  // home page slider styles
  .carousel-control-prev-icon, 
  .carousel-control-next-icon{
    width: 30px;
    height: 30px;
    background-size: 45%;
    margin-top: 0 !important;
  }
  .carousel-item{
    min-height: 235px;
  }
  .first-slide{
    padding-left: 0;
  }
}