/* theming  start */
/* Amitesh start */
.inner-page-content p {
  color: #313131;
}

.inner-page-content .page-title {
  background-position: center center;
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
  z-index: 1;
  text-align: center;
  overflow: hidden;
}

.inner-page-content .page-title::before {
  position: absolute;
  content: "";
  background: #000000d1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.inner-page-content .page-details {
  background: #f5f5f5d9;
  position: relative;
}

.inner-page-content .page-details::before {
  position: absolute;
  content: "";
  background-image: url(../img/shape/job.png);
  /* background-position: center center; */
  /* background-size: cover; */
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.02;
  background-repeat: repeat;
}

.inner-page-content .page-details .section-title h4 {
  text-align: left;
  color: #ed1a3b;
  margin-bottom: 30px;
}

.inner-page-content .page-details .section-title h4::before {
  position: absolute;
  content: "";
  left: 5;
  top: 85px;
  background: var(--brand-black-color);
  height: 3px;
  width: 40px;
}

.inner-page-content .page-details .details-card {
  background: #ffffff;
  margin-bottom: 30px;
  padding: 40px 30px;
}

.inner-page-content .page-details .details-card h3 {
  color: var(--brand-black-color);
  font-weight: 400;
}

.inner-page-content .page-details .details-card p {
  margin-bottom: 0;
}

.inner-page-content .page-details .board-left-bracket,
.inner-page-content .page-details .board-right-bracket {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  height: 25px;
  width: 15px;
}

.inner-page-content .page-details .board-left-bracket {
  background-image: url(../img/icons/red-left-arrow.png);
  margin-right: -8px;
  margin-bottom: -5px;
}

.inner-page-content .page-details .board-right-bracket {
  background-image: url(../img/icons/red-right-arrow.png);
  margin-left: -8px;
  margin-bottom: -5px;
}

.inner-page-content .more-content-btn {
  color: var(--brand-red-color);
  font-size: 15px;
}

.inner-page-content .more-content-btn:hover {
  color: var(--brand-black-color);
}

.inner-page-content .more-content-btn:hover img {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.inner-page-content .more-content-btn img {
  height: 18px;
  margin-top: -1px;
}

.inner-page-content .more-content {
  margin-top: 30px;
}

.inner-page-content .pillars h2 {
  font-weight: 400;
  margin-bottom: 20px;
}

.inner-page-content .pillars .three-pillars {
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.07);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.07);
  margin-bottom: 30px;
  padding: 10px 10px;
  min-height: 210px;
}

.inner-page-content .pillars .three-pillars p {
  font-size: 15px;
  padding: 2px 10px;
}

.inner-page-content .pillars .three-pillars h6 {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  margin-left: -10px;
  margin-right: -10px;
  padding: 12px 2px 8px 2px;
  background-color: var(--brand-red-color);
}

.inner-page-content h4,
.inner-page-content h6 {
  color: #ffffff;
}

.inner-page-content .ten-steps {
  margin-top: 40px;
}

.inner-page-content .ten-steps h2 {
  font-weight: 400;
  text-transform: uppercase !important;
}

.inner-page-content .ten-steps .ten-steps-heading {
  font-size: 25px;
  font-weight: 500;
  margin-top: 30px;
  border-bottom: 1px solid #d8d8d8;
  margin-bottom: 20px;
}

.inner-page-content .ten-steps .steps {
  background-color: #e4203a;
  padding: 20px 0px;
  border-top-right-radius: 85px;
  border-bottom-right-radius: 85px;
  text-align: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.inner-page-content .ten-steps .step-text,
.inner-page-content .ten-steps .step-count {
  color: #ffffff;
  font-size: 27px;
  font-weight: bold;
  line-height: normal;
}

.inner-page-content .ten-steps .step-text {
  margin-right: 10px;
}

.inner-page-content .ten-steps .step-count {
  color: #fff;
}

.inner-page-content .ten-steps > .row {
  margin-bottom: 10px;
}

.inner-page-content .ten-steps .process-details {
  background-color: #ececec;
  padding: 15px;
  border-radius: 5px;
  margin-left: 40px;
  -webkit-box-shadow: 1px 1px 3px 1px #d2d2d2;
          box-shadow: 1px 1px 3px 1px #d2d2d2;
}

.inner-page-content .ten-steps .process-details h3 {
  font-weight: 400;
}

.inner-page-content .ten-steps .col-md-9 {
  padding-right: 0px;
}

.acquisition-page .page-title {
  background-image: url(../img/page-banners/acquisition.jpg);
}

.acquisition-page .strategic h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.assessment-page .page-title {
  color: yellow;
  background-image: url(../img/page-banners/assessment.jpg);
}

.reference-check-tl-container {
  font-family: 'Kumbh Sans', sans-serif !important;
  width: 100%;
  margin: auto;
  display: block;
  position: relative;
}

.reference-check-tl-container ul.tl {
  margin: 20px 0;
  padding: 0;
  display: inline-block;
}

.reference-check-tl-container ul.tl li {
  list-style: none;
  margin: auto;
  margin-left: 100px;
  min-height: 50px;
  /*background: rgba(255,255,0,0.1);*/
  border-left: 1px dashed #e52942;
  padding: 0 0 50px 30px;
  position: relative;
}

.reference-check-tl-container ul.tl li:last-child {
  border-left: 0;
}

.reference-check-tl-container ul.tl li::before {
  position: absolute;
  left: -18px;
  top: -5px;
  content: " ";
  border: 8px solid rgba(255, 255, 255, 0.74);
  border-radius: 500%;
  background: #e52942;
  height: 20px;
  width: 20px;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.reference-check-tl-container ul.tl li:hover::before {
  border-color: #e52942;
  -webkit-transition: all 1000ms ease-in-out;
  transition: all 1000ms ease-in-out;
}

ul.tl li .item-title {
  color: #000000;
}

ul.tl li .item-detail {
  color: #000000;
  font-size: 12px;
}

ul.tl li .timestamp {
  color: #e52942;
  position: absolute;
  width: 100px;
  left: -20%;
  text-align: right;
  font-size: 12px;
}

.research-page .page-title {
  color: yellow;
  background-image: url(../img/page-banners/research.jpg);
}

/* Amitesh end */
/* theming  end */
/*# sourceMappingURL=page.css.map */